$colorBlue: #409EFF;
$colorSuccess: #67C23A;
$colorWarning: #E6A23C;
$colorDanger: #F56C6C;
$colorBlack: #303133;
$lightSilver: #C0CCDA;
$colorInfo: #909399;
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
        -webkit-appearance:textfield;
}
input[type="number"]{
        -moz-appearance:textfield;
}
.el-table{
  position: relative;
}
.tabelMix{
  padding: 10px;
  border:1px solid #e6ebf5;

}
.head-title{
  font-weight: bold;
  padding: 22px 0;
  
}
.head-title-top{
  font-weight: bold;
  padding-bottom: 22px;
}
.head-second-title{
  font-size: 15px;
  font-weight: bold;
  padding: 22px 0;
}
.head-second-title-top{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 22px;
}
.clickEvent{
  cursor: pointer
}
.pagination{
  float: right;
  margin: 10px 0px;
}
.color-blue {
  color: $colorBlue;
}
.color-info {
  color: $colorInfo;
}
.color-success {
  color: $colorSuccess;
}

.color-warning {
  color: $colorWarning;
}

.color-danger {
  color: $colorDanger;
}

.bgcolor-blue {
  background: $colorBlue;
}

.bgcolor-success {
  background: $colorSuccess;
}

.bgcolor-warning {
  background: $colorWarning;
}

.bgcolor-danger {
  background: $colorDanger;
}
.bgcolor-info {
  background: $colorInfo;
}
.el-table--mini .el-table__empty-block{
  min-height:36px;
}
.breakAll{
  word-break: break-all;
  word-wrap: break-word
  
}
.pd20 .el-form-item__content{
 
}
.color-black .el-form-item__label,.color-black .breakAll{
  font-size: 16px;
  color: #000;
}
.color-black  .el-form-item{
  margin-bottom: 0px
}
.noInput .el-input-group__prepend{
  height: 32px;
  border-right: 1px solid #d8dce5;
}
.noInput .el-input-group__append{
  width: 86px;

}
.userInfoPopper .popper__arrow{
 left:105px!important;
}
.userInfoPopperSecond .popper__arrow{
 left:125px!important;
}
.el-select .el-input{
  width: 120px;
}
.noInput .el-select .el-input{
  width: 160px;
}
.hideOne{
  display: none;
}
.minType{
  margin-top: 3px;
}
.minType .el-select .el-input{
  width: 75px;
}
.el-select .el-input.is-focus .el-input__inner{
  border-color:transparent;

}

.search-maxWidth  .el-select .el-input__inner{
  color: #5a5e66!important;
}
.dateTimePicker .el-range-editor--small.el-input__inner{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float:left;
}
.dateTimePicker .el-range-editor--small.el-input__inner{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float:left;
}
.dateTimePickerSecond .el-select{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float:left; 
  width: 279px!important;
}
.dateTimePickerSecond .el-select input{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}
.dateTimePickerThird .el-input{

  float:left; 
  width: 239px!important;
}
.dateTimePickerThird .el-input__inner{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}
.dateTimePickerThird .el-button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 3px;

}
.dateTimePicker  .el-button{
  float:left;
  background-color: #f5f7fa;
  color: #878d99;
  border: 1px solid #d8dce5;
  margin-left: -5px;
  border-left: none;
  height: 32px;
  width: 86px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size:inherit
}
.dateTimePickerSecond .el-button{
  width: 125px;
}
.prossbar{
  width: 600px;
  border-radius: 5px;
  height: 15px;
  display: block;
  position: relative;
  margin: 20px 0px;
  margin-left: 65px;
}
.nowLevel{
  width: 0%;
  height: 15px;
  border-radius: 5px;
  position: absolute;
  left:0px;
  top:0px;
  text-align: center;
  line-height: 15px;
}
.nowLevel:after{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $colorBlue;
  content: '●';
  font-size: 22px;
  color: $colorDanger;
  display: inline-block;
  float: right;
  position: relative;
  right:-12px;
  top:50%;
  margin-top: -10px;
  border:2px solid #ccc;
}
.nowLevel span{
  position: absolute;
  top:-20px;
  right:-50px;
  width:200px;
  text-align: right;
}
.prossbar b{
  position: absolute;
  display: block;
  top:20px;
  right:0px;
}
.search-maxWidth .select-fixed input{
     min-width:inherit;
  }
  .search-maxWidth.is-disabled .select-fixed input,.search-maxWidth.is-disabled .select-fixed .el-input__icon{
    cursor: pointer;
  }
  
  .search-maxWidth .el-input-group__prepend {
    background-color: #fff;
  }

  .searchForm .el-form-item__label,.el-table,.el-table td, .el-table th.is-leaf{
   text-align:center
  }
  .search-maxWidth input{
    min-width:200px
  }
  .userInfo{
   font-weight:bold;
   font-size:14px;
  }

  .searchForm .el-form-item.is-required .el-form-item__label:before{
    display:none
  }
  .insuranceDetailSpe .el-table__header{ width:673px!important}
  .insuranceDetailSpe .el-table__body,{ width:100%!important}
  .showScroll .el-table__body-wrapper{height: 108px!important;}
 .sub-navbar{
  padding: 5px 10px;
  background:#F7F7F7;
  height: auto!important;
  border:1px solid #e6ebf5;
   z-index: 3!important
}
  .sub-navbar.searchInput{
    height:70px!important;
    
  }
  .focusNot.el-select .el-input.is-focus .el-input__inner{
    border-color:#d8dce5
  }
  .userStatus{margin-top:4px}
.row-top{
  margin-top: 22px;
}

.screenfull-svg{
  margin-top: 14px;
}
.radioSp .el-radio__label{
  display: none;
}
.timeCol.is-sortable .cell {
  padding-left:5px!important;
  padding-right:5px!important;
}
.el-table .caret-wrapper{
  width: 10px;
}
.text-top{
  margin-bottom: 18px;
}
.avatar-wrapper {
        cursor: pointer;
        margin-top: 0px;
        position: relative;
        min-width: 150px;
        padding-right: 10px;
        height: 50px;
        float: right;
        img{
            width: 50px;
            float: left;
        }
}